.header {
    background-color: #57bafc;
    color: white;
    align-items: center;
    padding: 20px;
    border-radius: 32px;
    box-shadow: 0 4px 10px rgba(110, 129, 255, 0.694);
}
  
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
